<%- include('partials/header'); %>
        <main>
            <h2><%=category.name%></h2>
            <p><%=category.description%></p>
            <hr />
            <form action="" method="">
                <label for="">Min</label>
                <input type="number" name="min" id="min" />
                <label for="">Max</label>
                <input type="number" name="max" id="max" />
                <button type="submit">Filtrar</button>
            </form>
            <section>

                <% category.products.forEach(product => { %>
                    <a href="/products/<%=product.id%>">
                        <div class="product">
                            
                                <img src="<%=product.imagePath%>" alt="<%=product.imageDescription%>" />
                                <h3 class="product__title"><%=product.name%></h3>
                                <p class="product__description"><%=product.description%></p>
                                <p class="product__price">$<%=product.price%></p>

                        </div>
                    </a>
                <% }) %>
            </section>
        </main>
<%- include('partials/footer'); %>